<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <!-- Learning  -->
    <!-- <div class="username">Welcome: {{userDisplayName}}</div> -->
    <div> Learning Portal</div>
  
  
    <div class="example-menu-row" style="margin-left:1250px;">
      <div style="margin-top: 35px;">
        <button mat-stroked-button [matMenuTriggerFor]="menuHero" color="primary" ng-init>
          <mat-icon>person</mat-icon>Profile
        </button>
        <mat-menu #menuHero="matMenu" class="uxg-user-profile">
          <div class="uxg-menu-header">
            <div class="uxg-avatar-hero-block">
              <!-- <div class="uxg-avatar" >SM</div> -->
              <h1 style="text-align:center ;">{{fab.user}}</h1>
              
              <span style="text-align:center ;">{{fab.email}}</span>
              <div style="text-align:center;" class="admins"><a *ngIf="fab.rolename==='Admin'" href="/admin"
                style="color: rgb(31, 31, 114); border-bottom: 1px solid rgb(15, 12, 12);" >Admin Actions</a></div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="uxg-menu-footer">
            <button mat-flat-button color="warn" dense routerLink="/login">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
            <!-- <button *ngIf="fab.rolename==='Admin'" mat-button color="primary" dense routerLink="/admin">
                <a>Admin Tools</a>
            </button> -->
  
            <!-- <a>Admin Tools</a> -->
            <!-- <button *ngIf="isUser" mat-button color="primary" dense routerLink="/admin" >
        ViewUsers
      </button> -->
          </div>
        </mat-menu>
      </div>
    </div>
  
    <!-- <button routerLink="/login" style="margin-left:auto;">Logout </button> -->
  </mat-toolbar>
  
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button routerLink="/courses" mat-button class="menu-button">
            <mat-icon>library_books</mat-icon>
            <span>Courses</span>
        </button>
        <button routerLink="/material" mat-button class="menu-button">
            <mat-icon>books</mat-icon>
            <span>Materials</span>
        </button>

       
        <mat-divider></mat-divider>


        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <!-- <span>About us</span> -->
            <a href="https://kanini.com/about-us/" style="border-bottom: 1px solid rgb(227, 226, 226);  ">About us</a>
        </button>


        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <!-- <span>Help</span> -->
            <span><a href="https://kanini.com/contact-us/" style="border-bottom: 1px solid rgb(227, 226, 226);">Help</a></span>
        </button>
       





    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <ul class="main__menu">
                <li class="list-item">
                    <a href="\courses" class="widget item--js" style="margin-bottom:500px;margin-right:5px;">
                        <!-- <button routerLink="/courses" mat-button class="menu-button"> -->
                        <mat-icon>library_books</mat-icon>
                        <br>
                        <span>Courses</span>
                        <!-- </button> -->
                        <i class="ion ion-ios-partly-sunny-outline"></i>
                    </a>

                </li>
                <li class="list-item">
                    <a href="\material" class="kabobs item--js" style="margin-right:600px;padding:10px">
                        <mat-icon>folder</mat-icon>
                        <br>
                        <span>Materials</span>
                        <i class="ion ion-ios-partly-sunny-outline"></i>


                    </a>
                    <!-- <ul class="drop-menu menu-2">
                        <li class="drop-item"><a href="#" class="item--1">A</a></li>
                        <li class="drop-item"><a href="#" class="item--2">B</a></li>
                        <li class="drop-item"><a href="#" class="item--3">C</a></li>
                    </ul> -->
                </li>

            </ul>


        </div>


    </mat-sidenav-content>
</mat-sidenav-container>


<mat-toolbar class="footer">

   
    <p style="margin-top:50px;margin-bottom:100px;margin-left:auto;margin-right:auto;font-size:15px">
        <mat-icon>facebook</mat-icon>
        <mat-icon>whatsapp</mat-icon><br><i>@Copyright 2022,Learning Portal:Content and Certificate Management,All
            rights reserved.</i>
    </p>


</mat-toolbar>