.example-menu-row {
  margin-bottom: 24px;
  text-align: end;
  margin-left: 1200px;
  /* margin-left: 500px; */
}
.mat-stroked-button.mat-primary {
  color: #e4e6f0;
}


.example-spacer {
    flex: 1 1 auto;
    /* margin-top: 100px; */
    /* margin: 1em; */
    /* margin-top: 10%; */
    margin-top: 1em;
  }

  .header {
    text-align: end;
    margin-bottom: 35px;
    margin-left: 1200px;
  }



  mat-toolbar {
    background: rgb(5, 7, 125);
    color: white;
}

mat-sidenav {
    margin: 5px;
    width:200px;
    border-right: none;
    background:rgb(5, 7, 125)  ;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 23px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;

    border-radius: 10px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;    
}
.profile-button {
    width: auto;
     /* width: center 50%;  */
    margin-left: 31cm;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;    
}
.mat-icon {
    margin-right: 8px;
}


mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}




/* Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #3f4593, #5960bd);
  margin: 0px;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Start Style*/
.main__menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 900px) {
  .main__menu {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}
.main__menu .list-item:hover .drop-menu li {
  display: block;
}
.main__menu .list-item:hover .menu-1 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-1 .drop-item {
  opacity: 0;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(1) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(2) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(3) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(4) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-2 .drop-item {
  opacity: 0;
  transform-origin: top center;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(1) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(2) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(3) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(4) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-3 .drop-item {
  opacity: 0;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(1) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(2) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(3) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(4) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-4 .drop-item {
  opacity: 0;
  transform-origin: top right;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(1) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(2) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(3) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(4) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.main__menu .list-item:hover .widget {
  border-top: 6px solid rgb(41, 6, 107);
  background-color:rgb(5, 7, 125);
  border-radius: 10px;
}
.main__menu .list-item:hover .kabobs {
  border-top: 6px solid rgb(92, 8, 128);
  border-radius:10px
}

.main__menu .list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  color: #fff;
  cursor: unset;
}
.main__menu .list-item a:hover {
  cursor: pointer;
}
.main__menu .list-item a span {
  font: 600 25px "Roboto", sans-serif;
  order: 2;
}
.main__menu .list-item a img {
  width: 100px;
}
.main__menu .list-item a.home {
  background: rgb(28, 147, 54);
}
.main__menu .list-item a.about {
  background: rgb(28, 147, 54);
}
.main__menu .list-item a.widget {
  background: rgb(5, 7, 125);
  border-radius:10px;
}
.main__menu .list-item a.kabobs {
  background: rgb(5, 7, 125);
  border-radius:10px;
}
.main__menu .list-item a.contact {
  background: rgb(225, 65, 237);
}
.main__menu .list-item a i {
  color: #fff;
  font-size: 100px;
}
.main__menu .list-item .drop-menu .drop-item {
  display: none;
}
.main__menu .list-item .drop-menu .drop-item a {
  height: 80px;
  font: 300 22px "Roboto", sans-serif;
}
.main__menu .list-item .drop-menu .drop-item a.item--1 {
  background: #ffcc33;
}
.main__menu .list-item .drop-menu .drop-item a.item--2 {
  background: #33658a;
}
.main__menu .list-item .drop-menu .drop-item a.item--3 {
  background: #ff3333;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes itemBounce {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-60px);
  }
  80% {
    transform: scale(1.2) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.footer{
  margin: 0px;
  /* width:950px; */
  border-radius: 0px;
  padding: 70px;
  padding-left:0px ;
  padding-right: 0px;
  padding-top: 70px;
  padding-bottom:10px;
  text-align:center;
  text-align-last: 10px;
  margin-left:auto;
  margin-right:auto
}
p.c{
  word-spacing: 30px;
}

/* .footers{
  margin: 0px; */
  /* width:950px;
  border-radius: 0px;
  padding: 150px;
  text-align:center;
  text-align-last: 10px;
  margin-left:auto;
  margin-right:auto
} */


/* Dropdown Button */
.dropbtn {
  background-color: #080a75;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;   

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #65dfeb;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

