<mat-card>
    <mat-card-content>
        <div class="header">
            <h2 style="text-align:center;background-color:rgb(31, 7, 153);color:white;padding:10px" class="h2">LOGIN</h2>
        </div>

        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm" style="margin-top: 15px;">
            <div class="userName-input">
                <mat-form-field class="full-width" apperance="outline">
                    <mat-label>userName</mat-label>
                    <input formControlName="userName" matInput required />
                  
                </mat-form-field>
            </div>
            <div>
                <!-- <span class="aLink">Forgot password</span> -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required />
                    <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide Password'"
                        [attr.aira-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    
                </mat-form-field>
            </div>
            <div>
                <button  class="button">Login</button>
                <a [routerLink]="['/register']" class="b1">Register</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>