<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <!-- Learning  -->
  <!-- <div class="username">Welcome: {{userDisplayName}}</div> -->
  <div class="username">Welcome: {{fab.user}}</div>


  <div class="example-menu-row" style="margin-left:1200px;">
    <div style="margin-top: 35px;">
      <button mat-stroked-button [matMenuTriggerFor]="menuHero" color="primary" ng-init>
        <mat-icon>person</mat-icon>Profile
      </button>
      <mat-menu #menuHero="matMenu" class="uxg-user-profile">
        <div class="uxg-menu-header">
          <div class="uxg-avatar-hero-block">
            <!-- <div class="uxg-avatar" >SM</div> -->
            <h1 style="text-align:center ;">{{fab.user}}</h1>
            <span style="text-align:center ;">{{fab.email}}</span>
            <div style="text-align:center ;">Role:{{fab.rolename}}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="uxg-menu-footer">
          <button *ngIf="fab.rolename==='Admin'" mat-flat-button color="primary" dense routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
          <button mat-button color="primary" dense>Viewusers</button>
        </div>
      </mat-menu>
    </div>
  </div>

  <!-- <button routerLink="/login" style="margin-left:auto;">Logout </button> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button routerLink="/dashboard" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <mat-divider></mat-divider>
    <button routerLink="/courses" mat-button class="menu-button">
      <mat-icon>library_books</mat-icon>
      <span>Courses</span>
    </button>
    <button routerLink="/material" mat-button class="menu-button">
      <mat-icon>books</mat-icon>
      <span>Materials</span>
    </button>
    <!-- <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button> -->



    <div class="dropdown" style="margin-top:10px;">
      <button (click)="myFunction()" class="dropbtn" style="margin-right:40px;">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#" routerLink="/profile">View Profile</a>
        <a href="#" routerLink="/login">Logout</a>
        <!-- <a href="#">Link 3</a> -->
      </div>

    </div>

    <mat-divider></mat-divider>
    <button routerLink="/about" mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About us</span>
    </button>



    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <br />
      <mat-toolbar color="primary" style="margin-left:20px;">

        <mat-icon>library_books</mat-icon>

        <span>Courses</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" (click)="openDialog()">Add Course</button>

      </mat-toolbar>

      <div class="container">
        <div style="margin-top:10px;">
          <!-- <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field> -->

          <!-- <div class="container">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>course_Id</th>
                  <th>coursecategory</th>
                  <th>coursestartdate</th>
                  <th>description</th>
                  <th>format</th>
                  <th>level</th>
                  <th>price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of data">
                  <td><span>{{row.course_Id}}</span></td>
                  <td><span>{{row.coursecategory}}</span></td>
                  <td><span>{{row.coursestartdate}}</span></td>
                  <td><span>{{row.description}}</span></td>
                  <td><span>{{row.format}}</span></td>
                  <td><span>{{row.level}}</span></td>
                  <td><span>{{row.price}}</span></td>
                 
                  <td>
                    <button mat-raised-button color="warning" >Edit</button>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->




          <table style="margin-top:30px ;">
            <thead>
              <tr class="font">
                <td>course_Id</td>
                <td>coursecategory</td>
                <td>coursestartdate</td>
                <td>description</td>
                <td>format</td>
                <td>level</td>
                <td>price</td>
                <td>Action</td>
              </tr>
            </thead>
            <!-- <mat-divider></mat-divider> -->
            <hr>
            <tr *ngFor="let row of data">
              <td>{{row.course_Id}}</td>
              <td>{{row.coursecategory}}</td>
              <td>{{row.coursestartdate}}</td>
              <td>{{row.description}}</td>
              <td>{{row.format}}</td>
              <td>{{row.level}}</td>
              <td>{{row.price}}</td>
              <!-- <td>
                <button mat-raised-button color="warning" >Edit</button>
                <button class="btn btn-sm btn-danger">
                  <i class="fa fa-remove"></i>Delete</button>
              </td> -->
              <td>
                <div class="example-button-row">
                  <button routerLink="/update/{{row.course_Id}}" style="margin-right: 2px;" mat-flat-button color="white">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-flat-button color="white" (click)="deletecourse(row.course_Id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </table>

          <!-- <div class="mat-elevation-z8">
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div> -->
        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">
  <p style="margin-top:50px;margin-bottom:100px;margin-left:auto;margin-right:auto;font-size:15px"><mat-icon>facebook</mat-icon><mat-icon>whatsapp</mat-icon><br><i>@Copyright 2022,Learning Portal:Content and Certificate Management,All rights reserved.</i></p>

</mat-toolbar>
